.container1{
  margin: 4% 50%;
  width: 350px;
  justify-content: center;
}

.container2{
  display: grid;
  gap: 10px;
  /*width: fit-content;*/
  height: 450px;
  padding: 20px;
  grid-template-areas: 
  "display display display  display"
  "clear   erase   divide    multiply"
  "seven   eight   nine      substract"
  "four    five    six       add"
  "one     two     three     equal"
  "zero    zero    point     equal ";
  background-color: #FBBEBE ;
  border-radius: 5px;
}

/*AREAS NAMES*/
.display{
  grid-area: display;
}
.clear{
  grid-area: clear;
}
.erase{
  grid-area: erase;
}
.divide{
  grid-area: divide;
}
.multiply{
  grid-area: multiply;
}
.substract{
  grid-area: substract;
}
.seven{
  grid-area: seven;
}
.eight{
  grid-area: eight;
}
.nine{
  grid-area: nine;
}
.add{
  grid-area: add;
}
.one{
  grid-area: one;
}
.two{
  grid-area: two;
}
.three{
  grid-area: three;
}
.zero{
  grid-area: zero;
}
.point{
  grid-area: point;
}
.equal{
  grid-area: equal;
}

.display{
  font-size: 25px;
  text-align: end;
  border-radius: 7px;
  padding: 10px;
  height: 55px;
  font-family: 'Brygada 1918', serif;
  border: solid 3px #F596A1;
  background-color: #FEE8E8;
}


.sign, .erase, .clear{
  font-size: 20px;
  font-weight: 400;
  border: solid 1px ;
  border-radius: 4%;
  font-family: 'Brygada 1918', serif;
  background-color: #DE5767;
  border: solid 1px #F596A1;
  &:hover{
    background-color: #CF5160;
  }
}
.active-sign{
  background-color: #CF5160;
}

.number{
  font-size: 20px;
  font-weight: 400;
  border-radius: 4%;
  font-family: 'Brygada 1918', serif;
  background-color: #ED828F;
  border: solid 1px #F596A1;
  &:hover{
    background-color: #DF717E;
  }
}
.active-number{
  background-color: #DF717E;
}

#preValue{
  /*border: solid 1px red;*/
  height: 30px;
}

#currValue{
  /*border: solid 1px green;*/
  height: 30px;

}